@import url("banner.css");
@import url("footer.css");
@import url("features.css");

body {
  font-family: 'HelveticaNeue-Light', sans-serif;
  color: #141414;
}


h1 {
  color: white;
  font-size: 50px;
}

